*{
    font-family: Sans-serif;
    margin: 0;
}
body{
  background-color: #c2c0c0;
}
header{
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #414141;
  box-shadow: 0px 0px 5px #000;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .pag_title h1{
  font-size: 2.0rem;
  color: #FFF;
}
body .img_perfil{
  display: block;
  margin: auto;
  width: 20%;
  border-radius: 5px;
}
figure figcaption{
  display: flex;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 13px;
}
figure h2{
  display: flex;
  justify-content: center;
}
section p{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}
section ul{
  background-color: #c2c0c0;
}