*{
    font-family: Sans-serif;
    margin: 0;
}
body{
  background-color: #c9c9c9;
}
header{
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #414141;
  box-shadow: 0px 0px 5px #000;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .pag_title h1{
  font-size: 2.0rem;
  color: #FFF;
  font-variant: small-caps;
}
body .img_perfil{
  display: block;
  margin: auto;
  width: 20%;
  border-radius: 5px;
}
figure figcaption{
  display: block;
  text-align: center;
  font-style: italic;
  font-variant: small-caps;
  font-size: 15px;
  margin-bottom: 13px;
}
figure h2{
  display: flex;
  justify-content: center;
  font-variant: small-caps;
}
section .content{
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bold;
}
section ul li{
  font-size: 18px;
  margin-bottom: 5px;
}
section .list{
  font-size: 14px;
  display: block;
  text-align: start;
  margin-left: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* RODAPÉ */
footer .social, a{
  text-decoration: none;
  color: #000;
}
footer img{
  width: 40px;
  margin-left: 20px;
}
footer .social{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #c9c9c9;
  color: #fff;
}
footer a{
  color: #000;
}
footer .border{
  width: 100%;
  margin-top: 20px;
  height: 1px;
  box-shadow: 0px 0px 1px #000;
}