*{
    font-family: Sans-serif;
    margin: 0;
}
body{
  background-color: #c9c9c9;
}
header{
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #414141;
  box-shadow: 0px 0px 5px #000;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .pag_title h1{
  font-size: 2.0rem;
  color: #FFF;
  font-variant: small-caps;
}
body .img_perfil{
  display: block;
  margin: auto;
  width: 20%;
  border-radius: 5px;
}
figure figcaption{
  display: flex;
  justify-content: center;
  font-style: italic;
  font-variant: small-caps;
  font-size: 15px;
  margin-bottom: 13px;
}
figure h2{
  display: flex;
  justify-content: center;
}
section .content{
  display: flex;
  padding: 20px;
  justify-content: center;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bold;
}
section .list{
  display: block;
  flex-direction: row;
  margin-left: 50px;
  
}
section .p_italic{
  font-style: italic;
  text-transform: lowercase;
  font-variant: small-caps;
}

/* RODAPÉ */
footer .social, a{
  text-decoration: none;
  color: #000;
}
footer img{
  width: 40px;
  margin-left: 10px;
}